In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
df['a'] = [1, 2, 3]
df['b'] = [4, 5, 6]
df

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
dic = df.iloc[0].to_dict()
dic

{'a': 1, 'b': 4}

In [ ]:
order = {}

In [ ]:
class Strate:
    def __init__(self, ):
        self.order_li = []
        self.hold_dic = {"cash":pd.DataFrame()}
        
    def buy():
        pass
    
    def sale():
        pass